<div class="container">
 <form>
  <div class="row">
   
   <div   class="col-sm-12">
 <label>name<input [(ngModel)]="user.userName" name="name" type="text" id="name"></label>
   </div>
  </div>
  <div class="row">
   
   <div   class="col-sm-12">
 <label>email<input [(ngModel)]="user.userEmail" name="email" type="text" id="email"></label>
   </div>
  </div>
  <div class="row">
   
   <div   class="col-sm-12">
 <label>phone<input [(ngModel)]="user.userPnoneNumber" name="phone" type="text" id="phone"></label>
   </div>
  </div>
  
  <div class="row">
   
   <div   class="col-sm-12">
 <label>password<input [(ngModel)]="user.userPassword" name="password" type="password" id="password"></label>
   </div>
  </div>
  <div class="row">
   
   <div   class="col-sm-12">
 <label>confirm password<input [(ngModel)]="user.userPassword" name="password" type="password" id="password"></label>
   </div>
  </div>
    <div class="row">
   
   <div   class="col-sm-12">
<button type="text" id="password">submit</button>
   </div>
  </div>
</form>
</div>